@charset "utf-8";

body {
    color: bisque;
    
    font: 100% "Open Sans", Verdana, sans-serif;
}

/* Floats */

.clearfix::before, .clearfix::after { content: ""; display: table; } 
.clearfix::after{ clear: both;} 
.clearfix{zoom: 1;}

