@charset "utf-8";

body {
    color: aliceblue;
    background-color: rgb(40, 61, 68);
    font: 100% "Open Sans", Verdana, sans-serif;
}
/* header */
#masterheader {
    position: static;
    align-items: center;
    background-color: rgb(0, 26, 36);
    padding-bottom: 20px;
    margin-bottom: 30px;
    top: 10px;
}
#masterheader div {
    position: relative;
    float: right;
}

.logo{
    margin-left: 5%;
    margin-top: 45px;
    float: left;
    align-self: center;
}
.logo a {
    text-decoration: none;
    color:#ffffff;
    font-family: Verdana;
    font-weight: 600;
    font-size: 1.4em;
}
.logo a:hover {
    background: transparent;
    color: #bababb;
    text-decoration: none;
}

.nav {
    float: inline-end;
    position: relative;
    top: 7px;
    right: 0;
    margin-top: 45px;
    margin-left: 15px;
    margin-right: 15px;
}

.nav li {
    width: max-content;
    font-size: 1em;
    padding: 0 25px 0 3px;
    float: left;
}

.nav li a {
    color: inherit;
    text-decoration: none;
    
    font-size: inherit;
}


.nav li:first-child {
    padding-left: 5px;
}

.nav li:last-child {
    padding-right: 5px;
}

h1 {
    color: rgb(221, 250, 250);
    font-weight: 700;
    font-size: 30px;
}

/* #Page */
#page{
    position: relative;
    top: 0px;
}

/* Em Destaque */

#oprojeto{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-flex;
    padding: 15px;
}
#btnleft{
    background-color: rgba(255, 216, 165, 0.5);
    align-self: center;
    float: left;
    border-radius: 10px;
    padding: 3px;
    margin-right: 5px;
}
#btnright{
    background-color: rgba(255, 216, 165, 0.5);
    rotate: 180deg;
    align-self: center;
    float: right;
    border-radius: 10px;
    padding: 3px;
    margin-left: 5px;
}
.destak{
    
    float: inline-end;
    position: relative;
    padding: 0 20px 0 20px;
}
.destaquetxt{
    float: right;
    padding: 0 20px 0 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.destaqueimg{
    aspect-ratio: auto,auto/auto;
    float: right;
    padding: 0 20px 0 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.destaquetxt h1{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 50px;
    padding-bottom: 15px;
}
.destaquetxt p{
    padding-left: 40px;
    padding-right: 40px;
    font-size: large;
}

/* Floats */

.clearfix::before, .clearfix::after { content: ""; display: table; } 
.clearfix::after{ clear: both;} 
.clearfix{zoom: 1;}

