@charset "utf-8";

body {
    color: aliceblue;
    background-color: #283d44;
    font: 100% "Open Sans", Verdana, sans-serif;
    cursor: default;
}
a {
    text-decoration: none;
    color: antiquewhite;
    transition-duration: 100ms;
}
a:hover{
    background: transparent;
    padding: 2px;
    color: rgb(255, 190, 105);
    transition-duration: 100ms;
    font-weight: bold;
}
small{
    font-weight: 400;
    font-size: smaller;
}
img{
    border-radius: 10px;
}
h1 {
    color: rgb(221, 250, 250);
    font-weight: 700;
    font-size: 40px;
}