@charset "utf-8";

/* containers padronizados */


.container{
    display: inline-block;
    padding: 10px;
}
.container-1{
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}
.container-2{
    display: inline-block;
    justify-content: center;
    padding: 20px 10px;
}
.container-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin: auto;
}

/* containers de barra*/

#containerbarra{
    background-color: #e6e6e6;
}
#barra1{
    background-color: #283d44;
    height: 50px;
    width: auto;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
