@charset "utf-8";

body {
    color: aliceblue;
    background-color: #283d44;
    font: 100% "Open Sans", Verdana, sans-serif;
    cursor: default;
}
a {
    text-decoration: none;
    color: antiquewhite;
    transition-duration: 200ms;
}
a:hover{
    background: transparent;
    padding: 2px;
    color: rgb(255, 190, 105);
    transition-duration: 200ms;
    font-weight: bold;
}
small{
    font-weight: 400;
    font-size: smaller;
}

/* Header */

#masterheader {
    display: flex;
    justify-content: space-between;
    position: static;
    align-items: center;
    background-color: rgb(0, 26, 36);
    padding-bottom: 20px;
    margin-bottom: 30px;
    top: 10px;
}
#masterheader div {
    position: relative;
    float: right;
}

/* Logomarca */

.logo{
    margin-left: 5%;
    margin-top: 45px;
    float: left;
    align-self: center;
}
.logo a {
    padding: 6px;
    text-decoration: none;
    color: #ffffff;
    font-family: Verdana;
    font-weight: 600;
    font-size: 1.6em;
    transition-duration: 200ms;
}
.logo a:hover {
    border-radius: 5px;
    color:#ffd373;
    transition-duration: 200ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Nav bar - links */

.nav {
    float: inline-end;
    position: relative;
    top: 7px;
    right: 0;
    margin-top: 45px;
    margin-left: 15px;
    margin-right: 15px;
}

.nav li {
    color:#ceebff;
    width: max-content;
    font-size: 1em;
    padding: 0 25px 0 3px;
    float: left;
}

.nav li a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-size: inherit;
}
.nav li a:hover{
    color:#ffffff;
    font-weight: 540;
    padding: 2px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
}

.nav li:first-child {
    padding-left: 5px;
}

.nav li:last-child {
    padding-right: 5px;
}

h1 {
    color: rgb(221, 250, 250);
    font-weight: 700;
    font-size: 30px;
}

/* #Page */
#page{
    position: relative;

    margin-bottom: 20px;
}

/* Em Destaque */

#destque{
    margin-top: 40px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-flex;
    padding: 15px;
    padding-bottom: 40px;
}
.clickslider img{
    align-self: center;
}
#btnleft{
    background-color: rgba(255, 232, 203, 0.5);
    align-self: center;
    float: left;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    padding-top: 8px;
    margin-right: 5px;
    margin-left: 5px;
    transition-duration: 200ms;
}
#btnright{
    background-color: rgba(255, 232, 203, 0.5);
    align-self: center;
    float: right;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    padding-top: 8px;
    margin-right: 5px;
    margin-left: 5px;
    transition-duration: 200ms;
}
#btnright img{
    rotate: 180deg;

}
#btnleft:hover{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 5px 5px rgba(9, 23, 27, 0.8);
    cursor: pointer;
    transition-duration: 250ms;
}
    
#btnright:hover{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 5px 5px rgba(9, 23, 27, 0.8);
    cursor: pointer;
    transition-duration: 250ms;
}

.destaquetxt{
    float: left;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;

}
.destaqueimg{
    width: 40%;
    aspect-ratio: auto,auto/auto;
    float: right;
    padding: 0 20px 0 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.destaquetxt h1{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 50px;
    padding-bottom: 15px;
}
.destaquetxt p{
    padding-left: 40px;
    padding-right: 40px;
    font-size: large;
    text-align: justify;
}

/* Sobre Nós */

#sobrenos{
    position: relative;
    background-color: #e6e6e6;
    color: rgb(0, 57, 95);
    display: inline-flex;
    padding: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sobrenostxt{
    float: right;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;

}
.sobrenostxt p{
    padding-left: 40px;
    padding-right: 40px;
    font-size: large;
}
.sobrenosimg{
    width: 40%;
    aspect-ratio: auto,auto/auto;
    float: left;
    padding: 20px;
    margin-left: 40px;
    margin-right: 10px;
}
.sobrenosimg img:hover{
    box-shadow: 0 5px 10px rgba(17, 26, 29, 0.8);
}
.sobrenosimg h2{
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
    padding-bottom: 10px;
}

/* O Projeto */

#oprojeto{
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    align-items: center;
}
#oprojeto img {
    aspect-ratio: auto,auto/auto;
}

#containerbarra{
    background-color: #e6e6e6;
}
#barra{
    background-color: #283d44;
    height: 70px;
    width: auto;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}
/* Como Ajudar */

#comoajudar{
    background-color: #e6e6e6;
    position: relative;
    align-items: center;
    width: auto;
    height: 300px;
    padding: 30px;
    margin-bottom: 10px;
}
.comoajudartxt{
    align-self: center;
    float: left;
    padding: 30px;
    margin: 10px;
    margin-left: 60px;
    margin-right: 40px;
}
.comoajudartxt h1{
    font-size: 40px;
    color: rgb(20, 20, 20);
    font-weight: bolder;
    margin-bottom: 20px;
}
.comoajudartxt p{
    color: rgb(20, 20, 20);
    font-size: medium;
    font-weight: 600;
}

.comoajudarbtn{
    align-self: center;
    float: right;
    display: grid;
    justify-items: center;
    padding: 30px;
    margin-left: 40px;
    margin-right: 60px;
}

.comoajudarbtn button{
    background-color: #6e6e6e;
    color: #ffffff;
    border: 0px;
    font-size: larger;
    height: max-content;
    width: 350px;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition-duration: 500ms;
}
.comoajudarbtn button:hover{
    transition-duration: 500ms;
    padding: 18px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    background-color: #838383;
    color: #ebebeb;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
/*
#e_carteira
#doacoes
*/

/* Transparência */

#transparencia{
    display: grid;
    align-items: center;
    padding: 30px;
    margin: 50px;
    margin-bottom: 50px; 
}
.trptittle{
    font-size: large;
    text-align: center;
    padding: 20px;
    margin: 30px;
}
.trpcontainer{
    position: relative;
    margin: 0 auto;
    display: flex   ;
}
.trpcaixa{
    background-color: #111a1d;
    float: inline-end;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 5px 5px rgba(17, 26, 29, 0.8);
    font-weight: 550;
}
.trpcaixa:hover{
    border-radius: 5px;
    box-shadow: 3px 10px 10px rgba(24, 38, 43, 0.8);
    background-color: #19262b;
    color: white;
    font-weight: 650;
}
.trpcaixa p{
    margin-top: 15px;
    text-align: center;
}
.trpcontainer:first-child{

    margin-right: 0px;
    float: left;
    padding-left: 20px;
}
.trpcontainer:last-child{
    float: right;
    padding-right: 20px;
}

#apoiadores{
    display: grid;
    justify-items: center;
    align-items: center;
}
#apoiadores div h1{
    text-align: center;
}

#imgslider{
    position: relative;
    background-color: #09171b;
    margin: 0 auto;
    display: flex;
    height: 100px;
    width: fit-content;
    padding: 10px;
}
.apoiaimg{
    margin: 0 20px;
    align-self: flex-end;
    float: inline-end;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
}

/* Footer */

footer{
    background-color: #09171b;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#ftcontainer{
    display: flex;
}
.ftdiv{
    align-items: start;
    padding: 10px;
    margin-left: 40px;
}

#mapping{
    margin-left: 50px;
    float: left;
}
#contato{
    float: right;
}

#NL{
    float: right;
}
  #inputNL{
    margin-top: 10px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
    border-radius: 5px;
  }

  #submitNL{
    align-self: center;
    border: 0;
    border-radius: 3px;
    padding: 7px;
    padding-top: 6px;
    width: 30px;
    height: 30px;
    background-color: orange;
    rotate: 180deg;
  }

#copynote{
    text-align: center;
    margin-top: 30px;
}


/* Floats */

.clearfix::before, .clearfix::after { content: ""; display: table; } 
.clearfix::after{ clear: both;} 
.clearfix{zoom: 1;}

