@charset "utf-8";

/* #Page */
#page{
    position: relative;

    margin-bottom: 20px;
}

/* Em Destaque */

#destque{
    max-width: 95%;
    padding: 15px;
}
.clickslider img{
    align-self: center;
}
#btnleft{
    width: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    align-self: center;
    float: left;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    padding-top: 8px;
    margin-right: 5px;
    margin-left: 5px;
    transition-duration: 200ms;
}
#btnright{
    width: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    align-self: center;
    float: right;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    padding-top: 8px;
    margin-right: 5px;
    margin-left: 5px;
    transition-duration: 200ms;
}
#btnright img{
    rotate: 180deg;

}
#btnleft:hover{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 5px 5px rgba(9, 23, 27, 0.8);
    cursor: pointer;
    transition-duration: 250ms;
}
    
#btnright:hover{
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 5px 5px rgba(9, 23, 27, 0.8);
    cursor: pointer;
    transition-duration: 250ms;
}

.destaquetxt{
    width: 50%;
    min-width: 300px;
    float: left;
    border-radius: 5px;
    padding-bottom: 10px;
}
.destaqueimg{
    min-width: 40%;
    min-height: 40%;
    border-radius: 20px;
    float: right;
}
.destaqueimg img{
    width: 300px;
    height: 300px;
    max-width: 80%;
    max-height: 80%;
    aspect-ratio: auto,auto/auto;
}
.destaquetxt h1{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 50px;
    padding-bottom: 15px;
}
.destaquetxt p{
    padding-left: 40px;
    padding-right: 40px;
    font-size: large;
    text-align: justify;
}
#dtdots{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.8);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 30px;
    padding: 5px 20px;
    margin: 0 10px;
}

.dots{
    background-color: #00366b;
    width: 15px;
    height: 15px;
    border-radius: px;
    border: none;
    transition-duration: 700ms;
    margin-left: 10px;
}
.dots:hover{
    background-color: #006586;
    padding: 10px;
    border-radius: 10px;
    transition-duration: 200ms;
}

/* Sobre Nós */

#sobrenos{
    background-color: #e6e6e6;
    color: rgb(0, 57, 95);
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
#sobrenos h2{
    color: #0e2329;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 10px;
}

.sobrenostxt{
    float: right;
    margin: 5px 20px;
    padding: 30px 15px;

}
.sobrenostxt p{
    text-align: justify;
    font-size: large;
}
.sobrenosimg{
    min-height: 40%;
    min-width: 40%;
    float: left;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.sobrenosimg img{
    aspect-ratio: 3/4;
    max-width: 100%;
    max-height: 100%;
}

/* O Projeto */

#oprojeto{
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    align-items: center;
}
#oprojeto img {
    aspect-ratio: auto,auto/auto;
}

/* Como Ajudar */

#comoajudar{
    background-color: #e6e6e6;
    position: relative;
    align-items: center;
    width: auto;
    height: 300px;
    padding: 30px;
    margin-bottom: 10px;
}
#comoajudar a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition-duration: 200ms;
    }
#comoajudar a:hover{
        background: transparent;
        color: rgb(255, 255, 255);
        transition-duration: 200ms;
        font-weight: normal;
    

}
.comoajudartxt{
    align-self: center;
    float: left;
    padding: 30px;
    margin: 10px;
    margin-left: 60px;
    margin-right: 40px;
}
.comoajudartxt h1{
    font-size: 40px;
    color: rgb(20, 20, 20);
    font-weight: bolder;
    margin-bottom: 20px;
}
.comoajudartxt p{
    color: rgb(20, 20, 20);
    font-size: medium;
    font-weight: 600;
}

.comoajudarbtn{
    align-self: center;
    float: right;
    display: grid;
    justify-items: center;
    padding: 30px;
    margin-left: 40px;
    margin-right: 60px;
}

.comoajudarbtn button{
    background-color: #6e6e6e;
    color: #ffffff;
    border: 0px;
    font-size: larger;
    height: max-content;
    width: 350px;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition-duration: 500ms;
}
.comoajudarbtn button:hover{
    transition-duration: 500ms;
    padding: 18px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    background-color: #838383;
    color: #ebebeb;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
/*
#e_carteira
#doacoes
*/

/* Transparência */

#transparencia{
    align-items: center;
    margin-bottom: 50px; 
}
.trptittle{
    font-size: large;
    text-align: center;
    padding: 20px;
    margin: 30px;
}
.trpcontainer{
    margin: 0 auto;
}
.trpcaixa{
    background-color: #111a1d;
    float: inline-end;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 5px 5px rgba(17, 26, 29, 0.8);
    font-weight: 550;
    transition-duration: 200ms;
}
.trpcaixa:hover{
    border-radius: 5px;
    box-shadow: 3px 10px 10px rgba(24, 38, 43, 1);
    color: white;
    font-weight: 650;
    transition-duration: 200ms;
}
.trpcaixa p{
    margin-top: 15px;
    text-align: center;
}
.trpcontainer:first-child{

    margin-right: 0px;
    float: left;
    padding-left: 20px;
}
.trpcontainer:last-child{
    float: right;
    padding-right: 20px;
}

#apoiadores{
    display: grid;
    justify-items: center;
    align-items: center;
}
#apoiadores div h1{
    text-align: center;
}

#imgslider{
    position: relative;
    background-color: #09171b;
    align-items: center;
    margin: 0 auto;
    display: flex;
    height: 100px;
    width: fit-content;
    padding: 10px;
}
.apoiaimg{
    margin: 0 20px;
    align-self: flex-end;
    float: inline-end;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
    transition-duration: 300ms;
}
.apoiaimg:hover{
    padding: 10px 15px;
    background-color: #0e2329;
    border-radius: 20px;
    transition-duration: 300ms;
}

/* Footer */

footer{
    background-color: #09171b;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#ftcontainer{
    display: flex;
}
.ftdiv{
    align-items: start;
    padding: 10px;
    margin-left: 40px;
}


#mapping{
    padding: 10px;
    margin-left: 40px;
    margin-left: 50px;
}
#contato{
    padding: 10px;
    margin-left: 40px;
}
#copynote{
    text-align: center;
    margin-top: 30px;
}


/* Floats */

.clearfix::before, .clearfix::after { content: ""; display: table; } 
.clearfix::after{ clear: both;} 
.clearfix{zoom: 1;}

